services:
  locator:
    image: apachegeode/geode:1.15.1
    container_name: geode-locator
    hostname: locator
    command:
      - sh
      - -c
      - |
        gfsh -e "start locator --name=locator1 --bind-address=0.0.0.0 --hostname-for-clients=locator --J=-Xms256m --J=-Xmx512m --J=-Dgemfire.jmx-manager=true --J=-Dgemfire.jmx-manager-start=true --J=-Dgemfire.http-service-port=7070"
        tail -f /dev/null
    ports:
      - "10334:10334"
      - "1099:1099"
      - "7070:7070"
    networks:
      - geode-network

  server1:
    image: apachegeode/geode:1.15.1
    container_name: geode-server1
    hostname: server1
    command:
      - sh
      - -c
      - |
        sleep 60
        gfsh -e "start server --name=server1 --locators=locator[10334] --bind-address=0.0.0.0 --hostname-for-clients=server1 --server-port=40404 --J=-Xms256m --J=-Xmx512m"
        tail -f /dev/null
    ports:
      - "40404:40404"
    depends_on:
      - locator
    networks:
      - geode-network

networks:
  geode-network:
    driver: bridge
